<%- include('inc/header') -%>
    <main class="main-content">
        <% news.forEach((row) => { %>
        <article class="news-article">
            <section class="banner-news">
                <div class="news-banner-image" style="background-image: url('/<%= row.photo %>')">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="news-banner-content">
                            <h1 class="title-news-banner text-center">
                                <%= row.title %>
                            </h1>
                            <p class="subtitle-carousel text-center">
                                <%= row.subtitle %>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <% }); %>
    </main>
<%- include('inc/footer') -%>